:root {
    --bg: #000;
    --fg: #fff;
    --hl: #f00;
}

body {
    color: var(--fg);
    background-color: var(--bg);
    min-height: 100vh;

    display: grid;
}

header {
    grid-row: 1;
    height: min-content;
}

main {
    grid-row: 2;
}

h1 {
    background-color: var(--hl);
}

#loginForm {
    margin-bottom: 10px;
}

footer {
    background-color: var(--hl);
    padding: 10px;

    grid-row: 3;
    align-self: end;

    display: flex;
}

footer:nth-child {
    border-right: 1px solid white;
}
