:root {
    /* Catppuccin Mocha */
    /* Text */
    --fg: #cdd6f4;
    /* Crust */
    --fg2: #11111b;
    /* Base */
    --bg: #1e1e2e;
    /* Crust */
    --bg2: #11111b;
    /* Mauve */
    --hl: #cba6f7;
    /* Lavender */
    --hl2: #b4befe;

    --rad: 5px;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Catppuccin Latte */
        /* Text */
        --fg: #4c4f69;
        /* Crust */
        --fg2: #dce0e8;
        /* Base */
        --bg: #eff1f5;
        /* Crust */
        --bg2: #dce0e8;
        /* Mauve */
        --hl: #8839ef;
        /* Lavender */
        --hl2: #7287fd;

        --rad: 5px;
    }
}

body {
    padding: 0;
    margin: 0;

    color: var(--fg);
    background-color: var(--bg);

    font-family: sans-serif;

    min-height: 100vh;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: purple;
}

header {
    background-color: var(--bg2);
    padding: 10px;
    margin-bottom: 10px;
}

header a {
    color: inherit;
    text-decoration: none;
}

header #greeting {
    text-align: center;
}

main {
    margin: 0 20%;
    padding: 10px;
}

header h1 {
    text-align: center;
    padding: 0;
    margin: 0;
}

#loginForm {
    margin-bottom: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#loginForm * {
    font-size: 1.5rem;
    border-radius: var(--rad);
}

#loginFields {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#loginForm button {
    color: var(--fg2);
    background-color: var(--hl);

    font-weight: bold;

    border: none;
}

#loginForm button:hover {
    background-color: var(--hl2);
}

#questions {
    margin: 50px 0;
}

#questions * .optDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 10px;
}

#questions * .optDiv select {
    color: var(--fg2);
    background-color: var(--hl);
    border: none;
    border-radius: var(--rad);
    font-size: 1.2rem;
}

#questions * .optDiv select:hover {
    background-color: var(--hl2);
}

#saveBtn {
    color: var(--fg2);
    background-color: var(--hl);

    font-weight: bold;
    font-size: 1.2rem;

    border: none;
    border-radius: var(--rad);
}

#saveBtn:hover {
    background-color: var(--hl2);
}


footer {
    background-color: var(--bg2);

    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-item {
    color: var(--fg);
    border-right: 1px solid var(--fg);
    padding: 5px;
}

.footer-item:last-child {
    border: none;
}
